.btn_webkit::after {
   -webkit-mask:
      linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
   -webkit-mask-composite: xor;
   mask-composite: exclude;
}

.custom-dots li button::before {
   color: white !important;
   opacity: 30%;
   font-size: 10px !important;
}

.custom-dots li.slick-active button::before {
   opacity: 1 !important;
}

.slick-next:before {
   display: none !important;
}

.slick-prev:before {
   display: none !important;
}

.slick-prev {
   left: 12px !important;
   bottom: 23px !important;
}

.slick-next {
   right: unset;
   left: 55px !important;
   bottom: 23px !important;
}



.bluebox .slick-track {
   display: flex !important;
   gap: 20px !important;
}

.cross span:nth-child(1) {
   transform: rotate(44deg) translateY(13.5px) translateX(2.5px);
}

.cross span:nth-child(2) {
   transform: translateX(-100%);
   opacity: 0;
}

.cross span:nth-child(3) {
   transform: rotate(-45deg) translateY(-14px) translateX(4.2px);
}

@media (min-width:992px) {
   .slick-prev,
.slick-next {
   top: unset !important;
   display: flex !important;
}
   .slick-prev {
      left: -30px !important;
      bottom: 23px !important;
   }

   .slick-next {
      right: unset;
      left: 10px !important;
      bottom: 23px !important;
   }
}

@media (min-width:1140px) {
   .slick-prev {
      left: 0px !important;
      bottom: 23px !important;
   }

   .slick-next {
      right: unset;
      left: 45px !important;
      bottom: 23px !important;
   }
}

@media (min-width:1200px) {
   .slick-prev {
      left: 0px !important;
      bottom: 23px !important;
   }

   .slick-next {
      right: unset;
      left: 48px !important;
      bottom: 23px !important;
   }

}
@media (min-width:1441px) {
   .elipse_6_position{
      bottom: 120%;
      transform: rotate(10deg);
   }
}

@media (min-width:1537px) {
   .p_unset {
      padding: unset;
   }
}