.btn_webkit::after {
   -webkit-mask:
      linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
   -webkit-mask-composite: xor;
   mask-composite: exclude;
}

.custom-dots li button::before {
   color: white !important;
   opacity: 30%;
   font-size: 10px !important;
}

.custom-dots li.slick-active button::before {
   opacity: 1 !important;
}

.slick-next:before {
   display: none !important;
}

.slick-prev:before {
   display: none !important;
}

.slick-prev {
   left: 12px !important;
   bottom: 23px !important;
}

.slick-next {
   right: unset;
   left: 55px !important;
   bottom: 23px !important;
}

.slick-prev,
.slick-next {
   top: unset !important;
   display: flex !important;
}
.bluebox .slick-track {
   display: flex !important ;
   gap: 20px !important;
}
@media (min-width:992px) {
   .slick-prev {
      left: -30px !important;
      bottom: 23px !important;
   }
   
   .slick-next {
      right: unset;
      left: 10px !important;
      bottom: 23px !important;
   }
}
@media (min-width:1140px) {
   .slick-prev {
      left: 0px !important;
      bottom: 23px !important;
   }
   
   .slick-next {
      right: unset;
      left: 45px !important;
      bottom: 23px !important;
   }
}
@media (min-width:1200px) {
   .slick-prev {
      left: 0px !important;
      bottom: 23px !important;
   }
   
   .slick-next {
      right: unset;
      left: 48px !important;
      bottom: 23px !important;
   }
   
}